# Ignore node_modules
node_modules

# Ignore les fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Ignore les fichiers de configuration de développement
.git
.github
.gitignore
.vscode
.idea
README.md
.env
config.env.example

# Ignore les fichiers de test
test
**/*.test.js
**/*.spec.js
coverage

# Autres fichiers temporaires
.DS_Store
Thumbs.db
.tmp
tmp 